<!DOCTYPE html >
<!-- This is the JSF output page -->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.titleOut}</title>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body>
        <h1>#{msgs.thanks}</h1>
        <p>#{msgs.hereIs}</p>
        <h:outputLabel value="#{msgs.emailAddress}"/>
        <h:outputText value="#{userBean.emailAddress}" style="span"/>
        <br/>
        <h:outputLabel value="#{msgs.firstName}"/>
        <h:outputText value="#{userBean.firstName}" style="span"/>
        <br/>
        <h:outputLabel value="#{msgs.lastName}"/>
        <h:outputText value="#{userBean.lastName}" style="span"/>
        <br/>
        <p>#{msgs.another}</p>
        <h:form>
            <h:button value="#{msgs.return}" outcome="join_email.xhtml"/>
        </h:form>
        <p>#{msgs.added}
            <h:outputText value="#{session.lastAccessedTime}">
                <f:convertDateTime pattern="yyyy-MM-dd" />
            </h:outputText>
        </p>
    </h:body>
</html>
